.cart__container {
  height: 100%;
  overflow: hidden;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.cart__title {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 350px;
}
.basket__wrapper {
  height: 100%;
  overflow: hidden;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.basket__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.basket__item:not(:last-child) {
  margin-bottom: 20px;
}

.basket__card {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-between;
}

.basket__card .basket__name {
  flex-basis: 250px;
}

.cart__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}

.cart__delete_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart__delete_icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
  pointer-events: none;
}

.cart__price {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}

.cart__order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.cart__total {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}

.tableCart {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
  color: var(--secondary-color);
  border: var(--border);
  margin-bottom: 20px;
}

.tableCart__head {
  position: sticky;
  top: 0px;
  background-color: var(--primary-bcg-color);
  color: var(--secondary-color);
}

.tableCart__head_sel {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-color);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 5px;
}

.tableCart__body {
  border: none;
  background-color: var(--primary-bcg-color);
}
.tableCart__body_sel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 5px;
}
.tableCart__body_row {
  border-spacing: 5px 2px;
}
.tableCart__body_select {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  width: 50px;
}

.tableCart__img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mobile__cart {
  margin-bottom: 20px;
  border: var(--border);
}
.mobile__cartItem {
  padding: 10px 5px;
  background-color: var(--primary-bcg-color);
}
.mobile__cartItem:not(:last-child) {
  margin-bottom: 5px;
}

.mobile__cartWrap {
  display: flex;
  align-items: center;
}
.mobile__cartWrapCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile__name {
  margin-left: 5px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.mobile__cartPrice {
  color: var(--secondary-color);
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .cart__title {
    font-size: 32px;
    line-height: 1.36;
  }
}
