.change__lang {
  display: flex;
  position: absolute;
  top: 33px;
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%);
}
.change__lang_item:not(:last-child) {
  margin-right: 5px;
}
.change__lang_active {
  color: var(--secondary-color);
  text-shadow: 2px 0 2px var(--additional-color),
    0 2px 2px var(--additional-color), -2px 0 2px var(--additional-color),
    0 -2px 2px var(--additional-color);
}
.change__lang_noactive {
  color: #d2ba40;
  text-shadow: 2px 0 2px var(--additional-color),
    0 2px 2px var(--additional-color), -2px 0 2px var(--additional-color),
    0 -2px 2px var(--additional-color);
}

@media screen and (min-width: 1024px) {
  .change__lang {
    top: -12px;
    left: unset;
    right: 15px;
    font-size: 14px;
    transform: unset;
  }
}

@media screen and (min-width: 1360px) {
  .change__lang {
    top: -24px;
    right: 15px;
    font-size: 16px;
  }
}
