.character__title {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.character__table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  color: var(--secondary-color);
}

.character__table_row {
  display: flex;
  flex-direction: column;
}
.character__table_head {
  width: inherit;
}
.character__table_sel {
  text-align: start;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 43px;
  display: flex;
  align-items: center;
}

.character__table_sel:nth-child(2n) {
  background-color: transparent;
  color: var(--secondary-color);
}
.character__table_sel:nth-child(2n + 1) {
  background-color: var(--secondary-bcg-color);
  color: var(--additional-color);
}

@media screen and (min-width: 480px) {
  .character__table_sel {
    text-align: start;
    padding: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}
