.howOrder {
  border: var(--border);
  background-color: var(--primary-bcg-color);
  padding: 20px 10px;
  border-radius: 8px;
}
.vertical {
  margin-bottom: 30px;
}
.howOrder__icon {
  fill: var(--primary-color);
  width: 20px;
  height: 20px;
}

.howOrder__delivery {
  position: relative;
  text-align: center;
  font-size: 24px;
  margin: 0;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.howOrder__delivery::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%);
  height: 2px;
  width: 278px;
  background-color: var(--secondary-color);
}
.howOrder__mail {
  background-color: var(--secondary-color);
  padding: 2px;
  margin-bottom: 20px;
  border-radius: 8px;

  width: fit-content;
}
.howOrder__list {
  margin-bottom: 20px;
}
.howOrder__condition {
  color: var(--secondary-color);
}
.howOrder__postal {
  color: var(--primary-color);
  margin-bottom: 5px;
}
.howOrder__condition:not(:last-child) {
  margin-bottom: 5px;
}
