.howOrder__wrapper {
  border: 1px solid #d2ba40;
  background-color: rgba(51, 51, 51, 0.75);
  padding: 20px 10px;
  border-radius: 8px;
}

.howOrder__icon {
  fill: #d2ba40;
  width: 20px;
  height: 20px;
}
