.howOrder {
  border: var(--border);
  background-color: var(--primary-bcg-color);
  padding: 20px 10px;
  border-radius: 8px;
}

.howOrder__icon {
  fill: var(--primary-color);
  width: 20px;
  height: 20px;
}
