.basket__count {
  flex-basis: 80px;
  display: flex;
  justify-content: center;
}
.basket__minus,
.basket__plus {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
  pointer-events: none;
}
.basket__increment,
.basket__decrement {
  background-color: transparent;
  width: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.basket__increment {
  margin-left: 5px;
}
.basket__decrement {
  margin-right: 5px;
}
.basket__value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.basket__input::-webkit-inner-spin-button,
.basket__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket__input {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  outline: none;
  background-color: var(--primary-bcg-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 12px;
}

.basket__input:hover,
.basket__input:focus {
  border: var(--border);
}
