/* .slick-slider {
  position: relative;
  width: 450px;
}
.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 5px 0px 2px;
  width: calc(100% - 2px);
}

.slick-dots li {
  width: 100px;
  height: 100%;
  opacity: 0.7;
  margin: 0 10px;
}

.slick-dots li.slick-active {
  border: 1px solid #d2ba40;
  opacity: 1;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before {
  font-size: 24px;
  color: #d2ba40;
  left: 28px;
  bottom: -206px;
  background: transparent;
  position: absolute;
}

.slick-next:before {
  font-size: 24px;
  color: #d2ba40;
  left: -33px;
  bottom: -206px;
  background: transparent;
  position: absolute;
}

.slider__img {
  display: flex;
}
.dots {
  display: flex;
} */

.prevArrow {
  position: absolute;
  top: calc(50% - 50px);
  left: 5px;
  z-index: 1;
  fill: #d2ba40;
  color: #d2ba40;
  transform: rotate(90deg);
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  top: calc(50% - 50px);
  right: 5px;
  fill: #d2ba40;
  color: #d2ba40;
  transform: rotate(270deg);
  cursor: pointer;
}
.arrow__icon {
  width: 25px;
  height: 25px;
}
.image {
  width: 100%;
  height: auto;
}

.image__dot {
  object-fit: fill;
}

@media screen and (min-width: 480px) {
  .prevArrow {
    top: calc(50% - 80px);
  }
  .nextArrow {
    top: calc(50% - 80px);
  }
  .arrow__icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 800px) {
  .image__dot {
    width: 100px;
    height: 100px;
  }
}
