.hero {
  position: relative;
  padding-top: 270px;
  padding-bottom: 200px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-image: linear-gradient(
      45deg,
      var(--additional-color),
      rgb(250, 224, 66)
    )
    0 0 5 0 round;
  -moz-border-image: -moz-linear-gradient(
      45deg,
      var(--additional-color),
      rgb(250, 224, 66)
    )
    0 0 5 0 round;
  -webkit-border-image: -webkit-linear-gradient(
      45deg,
      var(--additional-color),
      rgb(250, 224, 66)
    )
    0 0 5 0 round;
  border-image: linear-gradient(
      45deg,
      var(--additional-color),
      rgb(250, 224, 66)
    )
    0 0 5 0 round;
  /* -webkit-box-shadow: 2px 10px 11px -4px rgba(210, 186, 64, 0.75);
  -moz-box-shadow: 2px 10px 11px -4px rgba(210, 186, 64, 0.75);
  box-shadow: 2px 10px 11px -4px rgba(210, 186, 64, 0.75); */
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 280px;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  text-shadow: 2px 0 2px var(--additional-color),
    0 2px 2px var(--additional-color), -2px 0 2px var(--additional-color),
    0 -2px 2px var(--additional-color);
}

.hero__btn {
  background: linear-gradient(
    45deg,
    rgba(134, 106, 26, 1) 55%,
    rgba(210, 186, 64, 1) 75%
  );
  border: none;
  text-shadow: 1px 0 1px var(--additional-color),
    0 1px 1px var(--additional-color), -1px 0 1px var(--additional-color),
    0 2px 2px var(--additional-color);
  border-radius: 40px;
  font-weight: 500;
  font-size: 18px;
  width: 150px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 15px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  cursor: pointer;
  pointer-events: all;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:focus,
.hero__btn:hover {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 250px;
    padding-bottom: 350px;
  }
  .hero__title {
    width: 700px;
    font-size: 40px;
    line-height: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__title {
    width: 700px;
    font-size: 40px;
    line-height: 75px;
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    border-bottom-width: 10px;
  }
}
