.feedback {
  position: relative;
  height: 100%;
  border: var(--border);
  background-color: var(--primary-bcg-color);
  padding: 20px 10px;
  border-radius: 8px;
}

.feedback__img {
  border: var(--border);
}
