.successOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.successOrder__text {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}
