.section {
  padding: 60px 0px;
  background-image: url(../../image/background2.jpg);
  background-repeat: repeat;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-image: linear-gradient(
      45deg,
      var(--additional-color),
      rgb(250, 224, 66)
    )
    0 0 5 0 round;
}
