.discount {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 12px 30px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.discount__item {
  position: relative;
  padding: 0px 0px 10px;
  border-radius: 8px;
  border: var(--border);
  background-color: var(--additional-color);
}

.discount__img {
  object-fit: fill;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.discount__time {
  position: absolute;
  bottom: 42%;
  right: 0;
  width: calc(100% - 4px);
  background-color: var(--primary-bcg-color);
  color: var(--primary-color);
  font-size: 14px;
  padding: 5px 2px;
}
@media screen and (min-width: 480px) {
  .discount__time {
    bottom: 31%;
  }
}
@media screen and (min-width: 768px) {
  .discount__time {
    bottom: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .discount__time {
    bottom: 45%;
  }
}

.discount__info {
  padding: 10px 0px;
}

.discount__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 45px;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.discount__price {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
}

.discount__price_discount {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  margin-bottom: 10px;
}
.discount__discount {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 50;
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--secondary-bcg-color);
  color: var(--additional-color);
}

.discount__btn {
  background: var(--btn-bcg-color);
  border: none;
  text-shadow: 1px 0 1px #463f3f, 0 1px 1px #463f3f, -1px 0 1px #463f3f,
    0 2px 2px #463f3f;
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;
  width: 120px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  cursor: pointer;
  pointer-events: all;
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.discount__btn:focus,
.discount__btn:hover {
  font-weight: 600;
}
