:root {
  --primary-color: #d2ba40;
  --secondary-color: #ffffff;
  --additional-color: #333333;
  --primary-bcg-color: rgba(51, 51, 51, 0.75);
  --secondary-bcg-color: #d2ba40;
  --border: 1px solid #d2ba40;
  --additional-border-color: #d4d4d8;
  --btn-bcg-color: linear-gradient(
    45deg,
    rgba(134, 106, 26, 1) 55%,
    rgba(210, 186, 64, 1) 75%
  );
}
body {
  font-weight: normal;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.slick-slider {
  position: relative;
}

.slick-track {
  display: flex;
}
.slick-dots {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 5px 0px 2px;
  width: calc(100% - 2px);
}
.slick-thumbs {
  display: flex;
}
.slick-dots li {
  display: inline-flex;
  width: 70px;
  height: 70px;
  opacity: 0.7;
}

.slick-dots li.slick-active {
  border: var(--border);
  opacity: 1;
}

.slider__img {
  display: flex;
}

.slick-prev {
  left: 5px;
  border-radius: 50%;
  z-index: 1;
  background-color: transparent;
}
.slick-next {
  right: 5px;
  border-radius: 50%;
  z-index: 1;

  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(51, 51, 51, 1);
  outline: none;
  -webkit-background-color: transparent;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(51, 51, 51, 1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.vertical-timeline-element-icon svg {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 1024px) {
  .slick-slider {
    width: 450px;
    height: auto;
  }
}

.swiper {
  width: 266px;
  height: auto;
  position: static !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-pagination-bullet-active {
  background-color: var(--secondary-bcg-color) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--primary-color);
  font-size: 25px !important;
  font-weight: bolder;
  text-shadow: 2px 0 2px var(--additional-color),
    0 2px 2px var(--additional-color), -2px 0 2px var(--additional-color),
    0 -2px 2px var(--additional-color);
}

@media screen and (min-width: 480px) {
  .swiper {
    width: 420px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 40px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 708px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper {
    width: 966px;
  }
}
